@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes expandHeightAndSlideUp {
  0% {
    height: 50vh; /* Start at half the screen height */
    width: 83.333%; /* 10/12 width */
    transform: translateY(33.333vh); /* Start at lower third of the screen */
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    height: 66.667vh; /* End at two-thirds of the screen height */
    width: 100%;
    transform: translateY(-33.333vh); /* Move to the top */
  }
}

@keyframes charAppear {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-expandHeightAndSlideUp {
  animation: expandHeightAndSlideUp 2s ease-in-out forwards;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.animate-charAppear {
  animation: charAppear 0.4s ease-in-out forwards;
}
